<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyun.mapper.master.PoSiteMapper">
  <resultMap id="BaseResultMap" type="com.zhiyun.entity.master.PoSite">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="box_is_empty" jdbcType="BIT" property="boxIsEmpty" />
    <result column="box_product_id" jdbcType="BIGINT" property="boxProductId" />
    <result column="group_type" jdbcType="INTEGER" property="groupType" />
    <result column="have_box" jdbcType="BIT" property="haveBox" />
    <result column="page_position_id" jdbcType="INTEGER" property="pagePositionId" />
    <result column="positionx" jdbcType="INTEGER" property="positionx" />
    <result column="positiony" jdbcType="INTEGER" property="positiony" />
    <result column="side" jdbcType="INTEGER" property="side" />
    <result column="site_name" jdbcType="VARCHAR" property="siteName" />
    <result column="site_type" jdbcType="INTEGER" property="siteType" />
    <result column="transport_car_id" jdbcType="BIGINT" property="transportCarId" />
    <result column="production_status" jdbcType="BIT" property="productionStatus" />
    <result column="site_status" jdbcType="VARCHAR" property="siteStatus" />
    <result column="page_name" jdbcType="VARCHAR" property="pageName" />
    <result column="orders" jdbcType="INTEGER" property="orders" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, box_is_empty, box_product_id, group_type, have_box, page_position_id, positionx, 
    positiony, side, site_name, site_type, transport_car_id, production_status, site_status, 
    page_name, orders
  </sql>
  <select id="selectByExample" parameterType="com.zhiyun.entity.master.PoSiteExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from po_site
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" parameterType="com.zhiyun.entity.master.PoSite">
    insert into po_site (id, box_is_empty, box_product_id, 
      group_type, have_box, page_position_id, 
      positionx, positiony, side, 
      site_name, site_type, transport_car_id, 
      production_status, site_status, page_name, 
      orders)
    values (#{id,jdbcType=BIGINT}, #{boxIsEmpty,jdbcType=BIT}, #{boxProductId,jdbcType=BIGINT}, 
      #{groupType,jdbcType=INTEGER}, #{haveBox,jdbcType=BIT}, #{pagePositionId,jdbcType=INTEGER}, 
      #{positionx,jdbcType=INTEGER}, #{positiony,jdbcType=INTEGER}, #{side,jdbcType=INTEGER}, 
      #{siteName,jdbcType=VARCHAR}, #{siteType,jdbcType=INTEGER}, #{transportCarId,jdbcType=BIGINT}, 
      #{productionStatus,jdbcType=BIT}, #{siteStatus,jdbcType=VARCHAR}, #{pageName,jdbcType=VARCHAR}, 
      #{orders,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zhiyun.entity.master.PoSite">
    insert into po_site
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="boxIsEmpty != null">
        box_is_empty,
      </if>
      <if test="boxProductId != null">
        box_product_id,
      </if>
      <if test="groupType != null">
        group_type,
      </if>
      <if test="haveBox != null">
        have_box,
      </if>
      <if test="pagePositionId != null">
        page_position_id,
      </if>
      <if test="positionx != null">
        positionx,
      </if>
      <if test="positiony != null">
        positiony,
      </if>
      <if test="side != null">
        side,
      </if>
      <if test="siteName != null">
        site_name,
      </if>
      <if test="siteType != null">
        site_type,
      </if>
      <if test="transportCarId != null">
        transport_car_id,
      </if>
      <if test="productionStatus != null">
        production_status,
      </if>
      <if test="siteStatus != null">
        site_status,
      </if>
      <if test="pageName != null">
        page_name,
      </if>
      <if test="orders != null">
        orders,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="boxIsEmpty != null">
        #{boxIsEmpty,jdbcType=BIT},
      </if>
      <if test="boxProductId != null">
        #{boxProductId,jdbcType=BIGINT},
      </if>
      <if test="groupType != null">
        #{groupType,jdbcType=INTEGER},
      </if>
      <if test="haveBox != null">
        #{haveBox,jdbcType=BIT},
      </if>
      <if test="pagePositionId != null">
        #{pagePositionId,jdbcType=INTEGER},
      </if>
      <if test="positionx != null">
        #{positionx,jdbcType=INTEGER},
      </if>
      <if test="positiony != null">
        #{positiony,jdbcType=INTEGER},
      </if>
      <if test="side != null">
        #{side,jdbcType=INTEGER},
      </if>
      <if test="siteName != null">
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="siteType != null">
        #{siteType,jdbcType=INTEGER},
      </if>
      <if test="transportCarId != null">
        #{transportCarId,jdbcType=BIGINT},
      </if>
      <if test="productionStatus != null">
        #{productionStatus,jdbcType=BIT},
      </if>
      <if test="siteStatus != null">
        #{siteStatus,jdbcType=VARCHAR},
      </if>
      <if test="pageName != null">
        #{pageName,jdbcType=VARCHAR},
      </if>
      <if test="orders != null">
        #{orders,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhiyun.entity.master.PoSiteExample" resultType="java.lang.Long">
    select count(*) from po_site
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>